@tailwind base;
@tailwind components;
@tailwind utilities;

/* pequenas customizações para parecer com o estilo original */
body { @apply bg-slate-50 text-slate-800; }
.container { @apply max-w-6xl mx-auto; }
